replicaCount: 1

image:
  repository: germainlefebvre4/cryptobot-controller
  # pullPolicy: IfNotPresent
  pullPolicy: Always
  tag: "0.3.0"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts: []
  tls: []

resources:
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

envs:
  - name: PROJECT_NAME
    value: Cryptobot Controller
  - name: SERVER_NAME
    value: cryptobot-controller
  - name: SERVER_HOST
    value: http://cryptobot-controller
